# PocketBase Configuration
POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_ADMIN_EMAIL=your_pocketbase_email@example.com
POCKETBASE_ADMIN_PASSWORD=your_pocketbase_password

# OpenAI Configuration
OPEN_AI_TOKEN=your_openai_api_key_here
OPEN_AI_BASEPATH=https://api.openai.com/v1
